@import "./variable";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
.app {
  height: 100%;
}

body,
.app {
  font-size: $base-font-size;
  font-family: $base-font-family;
  color: $base-text-color;
  line-height: $base-line-height;
  background-color: $bg-color;
  -webkit-font-smoothing: antialiased;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $base-text-color;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:focus {
  outline: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.ydb-clearfix:after {
  display: table;
  content: "";
  clear: both;
}

.ydb-fl {
  float: left;
}

.ydb-fr {
  float: right;
}

.ydb-text-muted {
  color: $secondary-text-color;
}

.ydb-text-primary {
  color: $primary-color;
}

.ydb-text-danger {
  color: $danger-color;
}

.ydb-text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
