@function pxTorem($px) {
  @return $px / 75px * 1rem;
}

$base-font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
$base-line-height: 1.5;

$black-color: #000;
$bright-color: #fff;
$bg-color: #f8f8f8;
$border-color: #e0e6ed;
$primary-text-color: #1F2D3D;
$base-text-color: #475669;
$secondary-text-color: #8492A6;

$primary-color: #4294F2;
$success-color: #44BF89;
$warning-color: #F3A552;
$danger-color: #f96768;
$info-color: #45e1df;

$title-font-size: pxTorem(32px);
$subtitle-font-size: pxTorem(30px);
$base-font-size: pxTorem(28px);
$small-font-size: pxTorem(26px);
$extra-small-font-size: pxTorem(22px);

$header-height: pxTorem(88px);
$footer-height: pxTorem(98px);
